body { /*sets background image */
        background-image: url("images/forest.jpg");  
}
/*mobile First*/
.wrapper{
  width: 50%;
}
.group{
  display: flex;
  flex-direction: column;
}
.item{
  flex: 1;
  margin: 10px;
}
.item-double{
  flex: 2;
  margin: 10px
}
/*desktop*/
@media all and (min-width: 800px) {
  .wrapper {
    width: 70%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}
header .wrapper{/*sets background size,color,placement border for container  */   
  background: blanchedalmond;
  text-align: center;
  margin: auto;
  
  border: 3px solid green;  
 
} 
img {/*sets image shape,size and placement*/
  border-radius: 50%;
  
  width: 100%;
  
}
main .wrapper{/*sets background size,color,placement border for container  */   
  background: blanchedalmond;
  text-align: center;
  margin: auto;
  border: 3px solid green;
   padding: 10px;
}

footer .wrapper{/*sets background size,color,placement border for container  */   
   background: blanchedalmond;
  text-align: center;
  margin: auto;
  border: 3px solid green;
}
.fontFam{/*font style class*/
  font-family: Arial, Helvetica, sans-serif
}
.fontSize{ /*font size class*/
  font-size: 20px;
}
a:link    { color: blue;  }       /* pseudo-classes*/
a:visited { color: purple;   }
a:hover   { color: green; }
a:active  { color: red;  }
.noBullets{
  list-style-type: none;
}






